[user]
	name = Kristof Nagy-Gyorgy
	email = nagygyorgykristof@gmail.com

[includeIf "gitdir:*/*[bB][mM][eE]/"]
	path = .gitconfig-personal

[includeIf "gitdir:*/*private/"]
	path = .gitconfig-personal

[includeIf "gitdir:*/*munka/"]
	path = .gitconfig-work

[alias]
	co = checkout
	st = status
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	s = status -s
	so = remote show origin
	rso = remote
	last = log -1 HEAD
	ctemp = commit -a -m temp
	f = fetch
	ca = commit -a
	c = commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
	editor = nano
